dl#profile-detail {
    width:85%;
    list-style-type: none;
    margin-left: 3rem;
    padding: 1rem 0;
}

dl#profile-detail > * {
    line-height: 2em;
}

dl#profile-detail dt{
    display: inline;
    font-weight: bold;
    font-size: large;
}

dl#profile-detail dd{
    display: inline;
}

h1#profile-title {
    margin-left: 3rem;
    margin-right: 4rem;
}

div#profile-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 2rem 0;
    /*padding-bottom: 1rem;*/
}

div#profile-title img{
    width: 2rem;
}
