{% extends "chinese_food_recipes/base.html" %}
{% load static %}
{% load humanize %}
{% load custom_tags %}

{% block page-title %}
    {% if category == "your_recipes" %}
        Your recipe
    {% elif category|slice:":1" == "#" %}
        {{ category|slice:"1:" }}
    {% else %}
        {{ category }}
    {% endif %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/list.css' %}">
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/list.js' %}"></script>
{% endblock %}

{% block content-title %}
    {% if category == "your_recipes" %}
        {% if recipes|length > 0 %}
            <h1 id="category-title">Your Recipes:</h1>
        {% else %}
            <h1 id="category-title">You have not posted any recipe yet.</h1>
        {% endif %}
    {% elif category|slice:":1" == "#" %}
        {% if recipes|length > 0 %}
            <h1 id="category-title" searchValue="{{ category|slice:"1:" }}">Search result for "{{ category|slice:"1:" }}":</h1>
        {% else %}
            <h1 id="category-title" searchValue="{{ category|slice:"1:" }}">No result for "{{ category|slice:"1:" }}"</h1>
        {% endif %}
    {% else %}
        {% if recipes|length > 0 %}
            <h1 id="category-title">Category: {{ category }}</h1>
        {% else %}
            <h1 id="category-title">Sorry, there is currently no data for category "{{ category }}"</h1>
        {% endif %}
    {% endif %}
{% endblock %}

{% block main-content %}
    <div id="Hot-recipe">

        {% for recipe in recipes %}
            <div class="recipes">
                <div class="recipes-pic"><img src="{% static recipe.imgSrc %}" alt="food-img" class="recipes-pic"></div>
                <div class="recipe-info">
                    <div class="recipe-title-description">
                        <div class="recipeTitle-bookmark-div">
                            <a href="{% url 'chinese_food_recipes:recipes_detail_page' recipe_id=recipe.id %}" class="recipe-title"><h3 class="recipes-title">{{ recipe.title }}</h3></a>
                            <div class="bookmark-div">
                                {% if category == "your_recipes" %}
                                    <div id="edit-icon-div">
                                        <img src="{% static 'img/edit_icon.png' %}" alt="icon" class="editIcon" url="{% url 'chinese_food_recipes:recipes_edit_page' recipe_id=recipe.id %}">
                                    </div>
                                {% else %}
                                    {% if request.session.username and request.session.username in recipe.collected_by and request.session.role != 'unregistered' %}
                                        <img src="{% static 'img/bookmark_solid.png' %}" alt="icon" class="selectedBookmarkIcon" data-recipe-id="{{ recipe.id }}" data-ajax-url="{% url 'chinese_food_recipes:collection_icon_clicked' %}">
                                    {% elif request.session.username and request.session.role != 'unregistered' %}
                                        <img src="{% static 'img/bookmark_hollow.png' %}" alt="icon" class="bookmarkIcon" data-recipe-id="{{ recipe.id }}" data-ajax-url="{% url 'chinese_food_recipes:collection_icon_clicked' %}">
                                    {% endif %}
                                {% endif %}
                                {% if request.session.role == 'admin' or category == "your_recipes" %}
                                    <form class="delete-form" action="{% url 'chinese_food_recipes:delete_recipe' recipe_id=recipe.id %}" method="post" >
                                        {% csrf_token %}
                                        <img src="{% static "img/delete-icon.png" %}" class="delete-button">
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                        <p class="recipes-description">{{ recipe.description }}</p>
                    </div>
                    <div class="recipe-sub-info">
                        <div class="rating">
                            <p class="star">★</p>
                            <p>{{ recipe.rating }} / 5</p>
                        </div>
                        <p>share: {{ recipe.shareNum }}</p>
                        <p>comment: {{ recipe.commentNum }}</p>
                        {% if category == "your_recipes" %}
                            <p>Posted {{ recipe.date_posted|naturaltime }}</p>
                        {% else %}
                            <p>Posted by <a href="{% url 'users:profile' recipe.user.username %}">{{ recipe.user.username }}</a> {{ recipe.date_posted|naturaltime|custom_naturaltime }}</p>
                        {% endif %}
                    </div> <!-- .recipe-sub-info -->
                </div> <!-- .recipe-info -->
            </div> <!-- .recipes -->
        {% endfor %}

    </div> <!-- #Hot-recipe -->
{% endblock %}

{% block pop-upimg-div %}
    <div id="pop-up-img-div">
        <div id="img-box">
            <img src="" alt="large-img" id="large-pic">
        </div>
    </div> <!-- #pop-up-img-div -->
{% endblock %}